{% extends 'backend_layout.html' %}
{% block css %}
    <style>
        .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }
        .alert_erro{
            float: left;
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
            padding: 1px;
            margin-left: 5px;
            border-radius: 4px;
        }

    </style>
{% endblock %}
{% block conent %}
    <ol class="breadcrumb">
        <li><a href="#">用户管理</a></li>
        <li class="active">密码修改</li>
    </ol>
    <div>

        <div class="row" style="position: relative;">
            <form class="form-horizontal" method="POST">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="oldpassword">原密码</label>

                        <div class="col-xs-3">
                            {{ form.oldpassword }}
                        </div>
                        <div  class="alert_erro {{ erro_class }}">
                             <span style="padding: 0 5px 0 5px;display: inline-block;font-size: 14px">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            </span>
                             <span style="padding: 0 10px 0 0;display: inline-block;font-size: 14px">
                                {{ form.errors.oldpassword.0 }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="newpassword">新密码</label>
                        <div class="col-xs-3">
                            {{ form.newpassword }}
                        </div>
                        <div  class="alert_erro {{ erro_class }}">
                             <span style="padding: 0 5px 0 5px;display: inline-block;font-size: 14px">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            </span>
                             <span style="padding: 0 10px 0 0;display: inline-block;font-size: 14px">
                                {{ form.errors.newpassword.0 }}
                            </span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="newpassword2" class="col-xs-2 control-label">确认密码</label>

                        <div class="col-xs-3">
                           {{ form.newpassword2 }}
                        </div>
                        <div  class="alert_erro {{ erro_class }}">
                             <span style="padding: 0 5px 0 5px;display: inline-block;font-size: 14px">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            </span>
                             <span style="padding: 0 10px 0 0;display: inline-block;font-size: 14px">
                                {{ form.errors.newpassword2.0 }}
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <button type="submit" class="btn btn-primary">保 存</button>
                            <span>{{ message }}</span>

                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            bindChangeAvatar4();
        });

        function bindChangeAvatar1() {
            $('#avatarImg').change(function () {
                var file_obj = $(this)[0].files[0];
                $('#prevViewImg')[0].src = window.URL.createObjectURL(file_obj)
            })
        }

        function bindChangeAvatar2() {
            $('#avatarImg').change(function () {
                var file_obj = $(this)[0].files[0];
                var reader = new FileReader();
                reader.readAsDataURL(file_obj);
                reader.onload = function (e) {
                    $('#previewImg')[0].src = this.result;
                };
            })
        }

        function bindChangeAvatar3() {
            $('#avatarImg').change(function () {
                var file_obj = $(this)[0].files[0];
                var form = new FormData();
                form.add('img_upload', file_obj);

                $.ajax({
                    url: '',
                    data: form,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success: function (arg) {

                    }
                })
            })
        }

        function bindChangeAvatar4() {
            $('#avatarImg').change(function () {
                $(this).parent().submit();

                $('#upload_iframe').load(function () {
                    var iframeContents = this.contentWindow.document.body.innerText;
                    iframeContents = JSON.parse(iframeContents);
                    if (iframeContents.status) {
                        $('#previewImg').attr('src', '/' + iframeContents.data);
                    }
                })

            })
        }

    </script>
{% endblock %}