{% extends 'home_layout.html' %}

{% block content %}
    {% for row in article_list %}
       <div class="day">
            <div class="postTitle">
                <a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_0" class="postTitle2" href="/blog/{{ blog.site }}/{{ row.nid }}.html">{{ row.title }}</a>
            </div>
            <div class="postCon">
                <div class="c_b_p_desc">{{ row.summary }}<a href="/blog/{{ blog.site }}/{{ row.nid }}.html" class="c_b_p_desc_readmore">阅读全文</a></div>
            </div>
            <div class="clear"></div>
            <div class="postDesc">posted @ {{ row.create_time|date:"Y-m-d H:i:s" }} {{ row.user.nickname }} 阅读({{ row.read_count }}) 评论({{ row.comment_count }}) <a href="/backend/edit-article-{{ row.nid }}.html" rel="nofollow">编辑</a></div>
            <div class="clear"></div>
            <div class="postSeparator"></div>
        </div>
    {% endfor %}
        {{ page_str }}
{% endblock %}